#elementor-panel-category-jelly-frame .elementor-element-wrapper .icon{
    position: relative;
}

#elementor-panel-category-jelly-frame .elementor-panel .elementor-element .icon {
    padding-block-start: 24px;
}

#elementor-panel-category-jelly-frame .elementor-element-wrapper .icon::before {
    content: "\eafd";
    font-family: remixicon;
    display: inline-block;
    color: var(--e-a-color-txt);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    font-style: normal;
}

