.jelly-container {
    width: var(--jelly-max-width, 1240px);
    margin: 0 auto;
    padding: 0 var(--jelly-side-width, 16px);
    box-sizing: border-box;
    position: relative;
}

.jelly-container-main {
    display: flex;
    margin: 32px 0;
    gap: 48px;
}

.jelly-container-content {
    flex: 0 0 auto;
    width: 78%;
    box-sizing: border-box;
    h1{
        margin-top: 0;
    }
}
.jelly-container-sidebar {
    flex: 1 0 0%;
}

.jelly-container-grid{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // overflow: hidden;
}

@media screen and (max-width: 1240px) {
    .jelly-container {
        width: 100%;
    }
    .jelly-container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .jelly-container-main {
        gap: 16px;
        flex-direction: column !important;
    }
    .jelly-container-content{
        width: 100%;
    }
    .jelly-container-sidebar {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid var(--jelly-color-border);
    }
    .jelly-container-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
