.container {
    width: var(--jelly-max-width, 1240px);
    margin: 0 auto;
    padding: 0 var(--jelly-side-width, 16px);
    box-sizing: border-box;
    position: relative;
    &.flex {
        display: flex;
        margin: 32px auto;
        gap: 48px;
        clear: both;
    }
    &.full {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    &.reverse {
        flex-direction: row-reverse;
    }
    .content {
        flex-grow: 1; /* 自动扩展以填充可用空间 */
        // width: 100%;
        min-width: 0;
        box-sizing: border-box;
        // .entry-title,
        // .page-title {
        //     margin-top: 0;
        //     margin-bottom: 24px;
        // }
    }
    .sidebar {
        width: 240px;
        flex: 0 0 auto; /* 不扩展，宽度由内容或设定的宽度决定 */
        h2,
        h3,
        h4 {
            font-size: 20px !important;
            text-transform: capitalize;
            // padding: 8px 12px;
            box-sizing: border-box;
            &::after {
                content: "";
                display: block;
                height: 3px;
                width: 30%;
                margin-top: 12px;
                background-color: var(--jelly-color-primary);
            }
        }
    }
}

.loop-gird {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.content-table {
    overflow-x: auto;
    display: block;
    width: 100%;
    table {
        width: 100%;
        display: block;
        white-space: nowrap;
    }
}

.site-header {
    position: relative;
    padding: 8px 0;
    box-sizing: border-box;
    .container {
        min-height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 1240px) {
    .container {
        width: 100%;
    }
    .loop-gird {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .container.flex {
        gap: 16px;
        flex-direction: column !important;
        .content {
            width: 100%;
        }
        .sidebar {
            width: 100%;
            margin-top: 32px;
            padding-top: 32px;
            border-top: 1px solid var(--jelly-color-border);
        }
    }

    .loop-gird {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}



.alignleft{
    float: left;
    margin-right: 1rem;
}
.aligncenter{
    clear: both;
    display: block;
    margin-inline: auto;
}

.alignright{
    float: right;
    margin-left: 1rem;
}

.wp-caption-text{
    margin:0;
}

.wp-caption{
    margin-block-end: 1.25rem;
    max-width: 100%;
    img{
        display: block;
    margin-inline: auto;
    }
    .alignleft{
        margin: 5px 20px 20px 0;
    }
}

.navigation.pagination {
    margin: 32px 0;
    text-align: center;
    position: relative;
    .page-numbers,
    a.page-numbers {
        border-radius: var(--jelly-border-radius-xs);
        border: 1px solid var(--jelly-color-border);
        min-width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        color: var(--jelly-color-description);
        font-size: 1em;
        transition: none;
        padding: 0 12px;
        box-sizing: border-box;
        margin: 8px 4px;

        &:hover {
            text-decoration: none;
            background-color: var(--jelly-color-primary);
            border-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
        &.prev {
            position: absolute;
            left: 0;
            border: 0;
        }
        &.next {
            position: absolute;
            right: 0;
            border: 0;
        }
    }
    .page-numbers.current {
        background: var(--jelly-color-primary);
        border-color: var(--jelly-color-primary);
        color: var(--jelly-color-white);
    }
}

@media screen and (max-width: 767px) {
    .navigation.pagination {
        .page-numbers,
        a.page-numbers {
            &.prev,&.next {
                border: 1px solid var(--jelly-color-border);
                position: unset;
            }

        }
    }
}

.wp-block-image .aligncenter .wp-element-caption {
    text-align: center;
    font-size: 16px;
    color: var(--jelly-color-description);
}
.site-footer {
    // margin-top: 36px;
    background-color: #0a0d14;
    color: #cccccc;
    pad
    .site-name {
        font-weight: 600;
        font-size: 2.5em;
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    .footer-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 64px 0 24px 0;
        border-bottom: 1px solid #2d323f;
        a {
            display: block;
        }
        img {
            height: 64px;
            width: 100%;
        }
    }
    .footer-content {
        display: flex;
        // padding: 48px 0;
        justify-content: space-between;
        gap: 24px;

        .footer-item {
            width: 100%;
            margin: 24px 0;
        }
        .footer-item-title {
            font-size: 22px;
            color: #fff;
            font-weight: 600;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            // color: #b8b8b8;
            .current-menu-item {
                a {
                    color: var(--jelly-color-primary);
                    font-weight: 600;
                }
            }
            a {
                color: inherit;
                &:hover {
                    color: var(--jelly-color-primary);
                }
            }
        }
    }
    .copyright {
        background-color: #141414;
        border-radius: 6px;
        .copyright-text{
            color: #fff;
            font-size: 14px;
            margin: 0;
            padding: 16px;
        }
    }
}
@media screen and (max-width: 767px) {
    .site-footer {
        .footer-content {
            flex-direction: column;
            gap: 0;
            .footer-item {
                margin: 8px 0;
            }
        }
    }
}
/* 404 页面 */
.error-page {
    width: 400px;
    margin: 32px auto;
    min-height: 600px;
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    .error-title {
        font-size: 10rem;
    }
    .error-description {
        margin-bottom: 1rem;
    }
}

/* 文章页面 */
.post-page {
    .post-thumbnail {
        width: 100%;
        max-width: unset;
        height: auto;
        max-height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-size: 0px;
        line-height: 0;
        vertical-align: top;
    }
    .post {
        // h1 {
        //     margin-top: 0;
        // }
        p {
            a {
                text-decoration: underline;
            }
        }
        p,
        li {
            line-height: 1.9;
        }
        ul,
        ol {
            margin: 24px 0;
        }
    }
}

/* 移动端 */
@media screen and (max-width: 767px) {
    .error-page {
        width: 100%;
        .error-title {
            font-size: 8rem;
        }
    }
}

/* 更小的移动端 */
@media (max-width: 480px) {
    .error-page {
        .error-title {
            font-size: 6rem;
        }
    }
}
/**
 * 小部件样式
 */
a.button .ri-icon {
    font-weight: 400;
    margin-right: 6px;
}

/**************************************************/
/* 站点图标  widgets/site-logo.php */
/**************************************************/
.site-logo {
    .custom-logo-link {
        display: block;
        width: 100%;
        font-weight: 600;
        font-size: 24px;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: 1;
    }
    .custom-logo {
        height: 60px;
        width: 100%;
        object-fit: contain;
    }
}

/**************************************************/
/* 主要菜单 - 页眉 widgets/primary-menu.php */
/**************************************************/
.primary-menu {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 4px;
    }

    li {
        margin: 0;
        position: relative;
        &:hover > .sub-menu {
            display: block;
        }
        &.current-menu-item > a {
            color: var(--jelly-color-primary);
            &:hover {
                color: var(--jelly-color-white);
            }
        }

        &.menu-item-has-children > a {
            &::after {
                content: "\EA78";
                font-size: inherit;
                font-family: "remixicon" !important;
                font-style: normal;
                display: inline-block;
                margin-left: 8px;
                transform: rotate(90deg);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .menu-list > .menu-item-has-children > a::after {
        transform: rotate(180deg);
    }

    a {
        display: block;
        padding: 10px 16px;
        font-weight: 600;
        color: var(--jelly-color-title);
        background-color: #fff;
        box-sizing: border-box;
        &:hover {
            background-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
        &.button {
            background-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        white-space: nowrap;
        box-shadow:
            0 1px 2px -2px rgba(0, 0, 0, 0.16),
            0 3px 6px 0 rgba(0, 0, 0, 0.12),
            0 5px 12px 4px rgba(0, 0, 0, 0.09);

        a {
            font-weight: 400;
        }

        .sub-menu {
            top: 0;
            left: 100%;

            &.open-left {
                left: auto;
                right: 100%;
            }
        }
    }

    .menu-close {
        padding: 6px;
        display: none;
    }
    /* 搜索按钮 */
    .open-search {
        background: none;
        border: 0;
        color: var(--jelly-color-title);
        padding: 6px;
    }

    .menu-actions {
        display: flex;
        gap: 12px;
        align-items: center;
    }
}

/* 菜单切换按钮 widgets/primary-menu.php */
.menu-toggle {
    display: none;
}

/**************************************************/
/* 搜索表单 widgets/inquiry-form.php */
/**************************************************/
form.search-form {
    position: relative;
    button {
        line-height: 1;
        background-color: transparent;
        border: 0;
        color: var(--jelly-color-description);
        padding: 10px 14px 10px 14px;
        height: 40px;
        &:hover {
            border-color: transparent;
            background-color: transparent;
            color: var(--jelly-color-title);
        }
        position: absolute;
        right: 0;
        top: 0;
    }
    input {
        width: 100%;
        font-size: 14px;
        border-radius: var(--jelly-border-radius-sm);
        background-color: #fff;
        border-color: var(--jelly-color-border);
        height: 40px;
        padding: 8px 16px;
    }
}

/**************************************************/
/* 回到顶部按钮 footer.php */
/**************************************************/
.totop-button {
    position: fixed;
    right: 48px;
    bottom: 32px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px var(--jelly-color-border);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .arrow-up {
        position: absolute;
        text-align: center;
        line-height: 46px;
        font-size: 20px;
        color: var(--jelly-color-text);
        left: 11px;
        top: 11px;
        height: 24px;
        width: 24px;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 200ms linear;
    }

    .progress-circle path {
        fill: #fff;
        stroke: var(--jelly-color-primary);
        stroke-width: 4;
        box-sizing: border-box;
        transition: all 200ms linear;
    }
}

/**************************************************/
/* 面包屑 widgets/breadcrumb.php */
/**************************************************/
nav.breadcrumb {
    border-top: 1px solid var(--jelly-color-border);
    border-bottom: 1px solid var(--jelly-color-border);
    padding: 12px 0;
    font-size: 14px;
    p {
        margin: 0 auto !important;
        color: var(--jelly-color-description);
    }
    a {
        color: var(--jelly-color-title);
        text-decoration: underline;

        &:hover {
            color: var(--jelly-color-title);
        }
    }
    .separator {
        margin: 0 4px;
    }
    // .last {
    //     color: var(--jelly-color-description);
    // }
}

/**************************************************/
/* 分享按钮  widgets/share.php */
/**************************************************/
.share-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 16px 0;
    color: var(--jelly-color-description);
    .share-title {
        font-size: 14px;
    }
    .share-toggle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid var(--jelly-color-border);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            border-color: var(--jelly-color-primary);
            background-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
    }
    .ri-icon {
        color: inherit;
        font-size: 18px;
    }
}

/**************************************************/
/* 询价表单 Elementor 插入 */
/**************************************************/
.inquiry-form {
    margin: 24px 0;
    .form-title {
        font-size: 16px;
        margin-bottom: 18px;
    }
}

/**************************************************/
/* 作者框 widgets/article/post-author.php  */
/**************************************************/
.author-box {
    background-color: var(--jelly-color-item-bg);
    padding: 20px;
    border-radius: var(--jelly-border-radius-lg);
    margin: 32px 0;
    gap: 24px;
    display: flex;
    align-items: center;
    .author-avatar {
        flex: 0 0 auto;
    }
    .avatar-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: contain;
        background-color: var(--jelly-color-white);
        border: 1px solid var(--jelly-color-border);
    }
    .author-name {
        font-size: 24px;
        color: var(--jelly-color-title);
    }
    .author-description {
        font-size: 14px;
        color: var(--jelly-color-text);
        line-height: 1.5;
    }
}

/**************************************************/
/* 翻页按钮 widgets/article/post-navigation.php */
/**************************************************/
.post-navigation {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    .navigation-title {
        margin: 0;
        color: inherit;
        font-size: 14px;
    }
    .navigation-arrow {
        line-height: 1;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 4px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    svg {
        padding-right: 8px;
    }
    a {
        color: var(--jelly-color-text);
        &:hover {
            color: var(--jelly-color-primary);
        }
    }
    .nav-next {
        text-align: right;
        svg {
            padding-right: 0;
            padding-left: 8px;
        }
        .navigation-arrow {
            justify-content: flex-end;
        }
    }
}

/**************************************************/
/* 文章信息 widgets/article/post-meta.php */
/**************************************************/
.post-category-list {
    color: var(--jelly-color-description);
    a {
        font-size: 16px;
        color: var(--jelly-color-primary);
    }
}

.post-meta {
    margin: 20px 0;
    padding-bottom: 16px;
    color: var(--jelly-color-description);
    font-size: 16px;
    border-bottom: 1px solid var(--jelly-color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .meta-left {
        .release-date {
            margin-right: 8px;
        }
    }
    .ri-icon {
        font-size: 18px;
    }
    .share-buttons {
        margin: 0;
    }
}

/**************************************************/
/* 相关文章 widgets/article/post-related.php */
/**************************************************/
.related-posts {
    width: 100%;
    background-color: var(--jelly-color-item-bg);
    text-align: center;
    margin: 32px 0 0 0;
    padding: 32px 0;
    .related-posts-list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 24px;
        li {
            flex: 1;
            width: 100%;
            box-sizing: border-box;
            h3 {
                margin: 10px 0 0;
                font-size: 16px;
            }
        }
    }
    .related-post-thumbnail {
        width: 100%;
        height: 150px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        display: block;
        background-color: var(--jelly-color-white);
        border-radius: 6px;
        &.placeholder {
            background-color: var(--jelly-color-description);
        }
    }
}

/**************************************************/
/* 页面Banner */
/**************************************************/
.page-banner {
    padding: 32px var(--jelly-side-width, 16px);
    box-sizing: border-box;
    background-color: #313131;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    h1 {
        margin: 0;
        color: #fff;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    nav.breadcrumb {
        border: 0;
        p {
            width: auto;
            margin: 0;
            padding: 0;
            color: #fff;
        }
        a {
            color: #fff;
        }
        .last {
            color: #fff;
        }
    }
}

/**************************************************/
/* 循环卡片 */
/**************************************************/
.loop-card {
    width: 100%;
    box-sizing: border-box;
    .card-content {
        padding: 20px 0;
        p {
            font-size: 16px;
            color: var(--jelly-color-description);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-thumbnail {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // 16:9 比例 (9 / 16 * 100%)
        overflow: hidden;
        border-radius: 6px;
        background-color: #e5e5e5;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; // 确保图片覆盖整个容器
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .card-title {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 10px;
        a {
            color: var(--jelly-color-title);
            &:hover {
                color: var(--jelly-color-primary);
            }
        }
    }
    .card-meta {
        font-size: 0.9em;
        color: var(--jelly-color-description);
        margin: 0;
        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

/**************************************************/
/* 联系列表 */
/**************************************************/
.contact-list {
    font-style: normal;
    .contact-item {
        display: flex;
        align-items: center;
        margin: 12px 0;
    }
    .contact-icon {
        padding: 12px;
        background-color: rgba(128, 128, 128, 0.1);
        border-radius: var(--jelly-border-radius-lg);
        color: var(--jelly-color-primary);
        line-height: 1;
        margin-right: 12px;
    }
    .ri-icon {
        font-size: 24px;
    }
    .contact-link {
        color: inherit;
        &:hover {
            color: var(--jelly-color-primary);
        }
    }
    .contact-text {
        margin: 0;
    }
}

/**************************************************/
/* 分类菜单 */
/**************************************************/
.categories-widget {
    // margin: 24px 0;
    .categories-title {
        margin-bottom: 18px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin: 0;
        padding: 0;
    }
}

.post-categories {
    &:hover .categories-list::-webkit-scrollbar-thumb {
        background-color: var(--jelly-color-primary);
    }
    .categories-list {
        font-size: 14px;
        max-height: 400px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: #e5e5e5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #999;
        }

        li {
            margin: 0;
            border-bottom: 1px solid var(--jelly-color-border);
            &.active {
                background: var(--jelly-color-primary);
                a {
                    color: var(--jelly-color-white);
                    font-weight: 600;
                }
            }
        }
        a {
            display: block;
            padding: 8px 12px;
            color: var(--jelly-color-description);
            &:hover {
                color: var(--jelly-color-primary);
            }
        }
    }
}

/**************************************************/
/* CTA 区块 */
/**************************************************/
.wp-block-cta {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    margin: 16px 0;
    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .wp-block-cta__caption,
    .wp-block-cta__button {
        position: relative;
        z-index: 1;
    }
    .wp-block-cta__caption {
        flex: 1;
        margin-right: 30px;
        h3 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #fff;
        }

        p {
            font-size: 14px;
            color: #ccc;
            margin: 0;
        }
    }
    .wp-block-cta__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

/**************************************************/
/* 浮动按钮 */
/**************************************************/
.float-buttons {
    position: fixed;
    right: 10px;
    bottom: 15%;
    z-index: 999;
    .float-button {
        position: relative;
        border: 1px solid #0000000d;
        background-color: var(--e-global-color-accent, #2271b1);
        border-radius: 99px;
        padding: 10px;
        display: flex;
        color: #141414;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1;
        color: #fff;
        &:hover {
            color: #fff;
            transform: scale(1.2);
        }
        &.whatsapp {
            background-color: #25d366;
            &:hover {
                background-color: #103928;
            }
        }
        &.close {
            cursor: pointer;
            border: 1px solid #e1e6f0;
            background-color: #ffffff;
            color: #141414;
            .ri-icon {
                transform: rotate(90deg);
            }
            &:hover {
                color: #141414;
                border-color: #e1e6f0;
                background-color: #f5f7fc;
            }
        }
    }
    &.buttons-close {
        .float-button {
            transform: translateX(70px);
            border-color: var(--jelly-color-primary);
            background: var(--jelly-color-primary);
            color: #fff;
        }
        .close {
            transform: translateX(30px);
            padding-right: 22px;
            box-shadow: var(--jelly-box-shadow);
            .ri-icon {
                transform: rotate(270deg);
            }
        }
    }
}

/**************************************************/
/* 饼干海报 */
/**************************************************/
.cookie-banner {
    width: 100%;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px 32px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--jelly-box-shadow);
    box-sizing: border-box;
    .cookie-caption {
        width: 70%;
        .cookie-title {
            font-size: 24px;
            font-weight: 600;
            margin: 0 0 8px 0;
        }
        .cookie-description {
            font-size: 14px;
            color: var(--jelly-color-description);
            margin: 0;
        }
    }
    .button-group {
        display: flex;
        gap: 8px;
        .reject-button {
            background-color: #fff;
            border: 1px solid var(--jelly-color-primary);
            color: var(--jelly-color-primary);
        }
    }
}

/**************************************************/
/* 平板端适配 */
/**************************************************/
@media screen and (max-width: 1240px) {
    /* 菜单切换按钮 */
    .menu-toggle {
        display: block;
        box-sizing: border-box;
        padding: 6px;
        border: none;
        background: transparent;
        color: var(--jelly-color-title);
        line-height: 1;
        text-align: center;
        &:hover {
            background: none;
            border: 0;
            color: var(--jelly-color-title);
        }
        .ri-menu-line {
            font-size: 20px;
        }
    }

    .primary-menu {
        position: fixed;
        top: 0;
        right: -360px;
        width: 300px;
        height: 100%;
        padding: 1rem;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        transition: right 0.3s ease-in-out;
        z-index: 1001;
        display: block;

        a {
            font-size: 16px;
            &.button {
                width: 100%;
            }
        }

        &.active {
            right: 0;
        }

        ul {
            display: block;

            > li {
                border-bottom: 1px solid var(--jelly-color-border);
            }
        }

        .sub-menu {
            display: block;
            position: relative !important;
            top: unset !important;
            left: unset !important;
            width: 100%;
            box-shadow: none;
            overflow: hidden;
            height: auto;
            max-height: 0;
            transition: max-height 1s ease-in-out;
            padding-left: 12px;
            overflow: hidden;
            white-space: normal;
            > li {
                border-bottom: 0;
                // border-bottom:1px solid var(--jelly-color-border) ;
            }
        }

        .submenu-open > .sub-menu {
            // overflow-y: auto;
            max-height: 1400px;
        }

        .menu-actions {
            position: absolute;
            top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            left: 0;
            padding: 16px;
            box-sizing: border-box;
        }

        .menu-close {
            display: block;
            background: transparent;
            border: none;
            font-size: 20px;
            color: var(--jelly-color-title);
            cursor: pointer;
        }

        .menu-container {
            margin: 64px 0;
        }
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;

        &.active {
            display: block;
        }
    }
    .page-banner {
        min-height: 200px;
    }
}

/**************************************************/
/* 手机适配 */
/**************************************************/
@media screen and (max-width: 767px) {
    .totop-button {
        right: 48px;
        bottom: 48px;
        &.active-progress {
            transform: scale(1.1) translateY(0);
        }
    }
    .related-posts {
        .related-posts-list {
            flex-direction: column;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .page-banner {
        min-height: 150px;
    }

    .wp-block-cta {
        flex-direction: column;
        .wp-block-cta__caption {
            margin-right: 0;
            margin-bottom: 24px;
        }
        .wp-block-cta__button {
            align-items: flex-start;
        }
    }

    .cookie-banner {
        flex-direction: column;
        padding: 12px 16px;
        .cookie-caption {
            width: 100%;
            align-items: flex-start;
            .cookie-description {
                margin-bottom: 24px;
            }
        }

        .button-group {
            width: 100%;
            justify-content: flex-end;
        }
    }
}

/**************************************************/
/* 排除 手机端 */
/**************************************************/
@media screen and (min-width: 767px) {
    .inquiry-form {
        position: sticky;
        top: 140px;
    }
}

/**************************************************/
/* 排除 平板和手机端 */
/**************************************************/
@media screen and (min-width: 1240px) {
    .page-banner {
        min-height: 300px;
        h1 {
            font-size: 72px;
        }
    }
}
#gt_float_wrapper {
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;
    min-width: 96px;
    min-height: 34px;
}

.gtranslate_wrapper {
    position: relative !important;
    min-width: 96px;
    min-height: 34px;

    .gt_float_wrapper {
        position: relative !important;
    }

    .gt_float_switcher {
        // transition:none;
        box-shadow: none;
        position: relative !important;
        border: 1px solid var(--jelly-color-border);
        border-radius: var(--jelly-border-radius-lg);
        overflow: visible;
        background: transparent;
        padding: 4px 12px;
        min-width: 96px;
        min-height: 34px;
        box-sizing: border-box;
        color: var(--jelly-color-title);
        &:hover {
            border-color: var(--jelly-color-border-secondary);
        }
        .gt_options {
            position: absolute;
            top: 48px;
            background: var(--jelly-color-white);
            right: 0;
            min-width: 200px;
            box-shadow: var(--jelly-box-shadow);
            max-height: 362px;
            border: 1px solid var(--jelly-color-border);
        }

        .gt-selected .gt-current-lang {
            padding: 0;
            font-size: 14px;
            span.gt_float_switcher-arrow
            {
                transform: rotate(0deg);
            }
            span.gt_float_switcher-arrow.gt_arrow_rotate{
                transform: rotate(180deg);
            }
        }

        &,
        .gt-selected {
            background: 0 0;
        }

        img {
            width: 18px;
            height: 13.5px;
            overflow: hidden;
        }

        .gt_options {
            &::-webkit-scrollbar-track {
                background-color: var(--jelly-color-item-bg);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--jelly-color-description);
            }
            a {
                transition: none;
                font-size: 14px;
                &:hover {
                    color: var(--jelly-color-title);
                    background-color: var(--jelly-color-item-bg);
                }
            }
        }
    }
}

html[dir="rtl"] .gtranslate_wrapper .gt_float_switcher .gt_options {
    right: unset;
    left: 0;
}

nav.rank-math-breadcrumb p {
    margin: 0;
}

#rank-math-faq {
    background-color: var(--jelly-color-item-bg);
    padding: 16px;
    border-radius: var(--jelly-border-radius-sm);
}

.rank-math-list-item {
    background-color: var(--jelly-color-white);
    padding: 16px;
    border-radius: var(--jelly-border-radius-sm);
    margin-bottom: 12px;
    box-shadow: var(--jelly-box-shadow);
    .rank-math-question {
        font-size: 1.44rem;
        padding-bottom: 12px;
        margin-top: 0;
        border-bottom: 1px solid var(--jelly-color-border);
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.sidebar .wp-block-rank-math-toc-block {
    position: sticky;
    top: 100px;
}
.wp-block-rank-math-toc-block {
    max-height: calc(100% - 200px);
    overflow-y: auto;
    margin: 24px 0;
    h2 {
        font-weight: 600;
        font-size: 16px !important;
        position: relative;
        margin-bottom: 18px;
        margin-top: 0;
    }
    nav {
        padding-left: 8px;
        max-height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--jelly-color-border);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--jelly-color-description);
        }
        > ul {
            padding-left: 18px;
            padding-right: 8px;
            border-left: 1px solid var(--jelly-color-border);
            > li {
                padding-left: 16px;
                &::before {
                    content: "";
                    display: block;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: var(--jelly-color-primary);
                    position: absolute;
                    left: -5px;
                    top: 12px;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li {
            margin: 0;
            padding-left: 0;
            position: relative;
            margin: 6px 0;
        }
        a {
            color: var(--jelly-color-text);
            font-size: 14px;
            &:hover {
                color: var(--jelly-color-primary);
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #rank-math-faq {
        padding: 0;
        background-color: none;
        border-radius: none;
    }
    .wp-block-rank-math-toc-block {
        position: relative;
        top: unset;
        nav {
            max-height: 300px;
        }
        h2 {
            // text-align: center;
            padding: 8px;
            background: var(--jelly-color-item-bg);
        }
    }
}
