.woocommerce {
    .content-area {
        width: var(--jelly-max-width, 1240px);
        margin: 0 auto;
        padding: 0 var(--jelly-side-width, 16px);
        box-sizing: border-box;
        position: relative;
    }
    .page-description,
    .woocommerce-result-count {
        color: var(--jelly-color-description);
    }
    .jelly-woocommerce {
        .container.primary {
            flex-direction: row-reverse;
        }
    }
    .woocommerce-result-count,
    .woocommerce-page .woocommerce-result-count {
        float: right;
    }
    ul.products {
        li.product {
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .woocommerce-loop-product__title,
                h3,
                .woocommerce-loop-category__title {
                    color: var(--jelly-color-primary);
                }
            }
            .jelly-product-thumbnail {
                overflow: hidden;
                img {
                    transition: all 0.3s ease;
                }
                border: 1px solid var(--jelly-color-border);
            }
            // margin: 0 24px 30px 0;
            .woocommerce-loop-category__title,
            .woocommerce-loop-product__title,
            h3 {
                // padding: 0 12px;
                // margin: 6px 0;
                font-size: 14px;
                // height: 36px;
                // overflow: hidden;
                font-weight: normal;
                text-align: center;
                // box-sizing: border-box;
            }
            .woocommerce-placeholder {
                border: 0;
            }
            a {
                img {
                    margin: 0 0 0;
                }
            }
        }
    }
    div.product {
        .container.primary{
            margin-top: 32px;
        }
        .product_meta {
            display: flex;
            flex-direction: column;
            margin: 12px 0;
        }
        .woocommerce-variation-add-to-cart {
            display: none;
        }
        .related.products {
            clear: left;
        }
        div.images {
            .flex-viewport,
            .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper {
                border: 1px solid var(--jelly-color-border);
                // border-radius: var(--jelly-border-radius-lg);
                overflow: hidden;
                margin-bottom: 12px;
            }
            .flex-control-thumbs {
                margin-right: -6px;
                margin-left: -6px;
                li {
                    box-sizing: border-box;
                    padding-right: 6px;
                    padding-left: 6px;
                    padding-bottom: 10px;
                }
                img {
                    border: 1px solid var(--jelly-color-border);
                    // border-radius: var(--jelly-border-radius-xs);
                }
            }
        }
        a.button {
            padding: 0.5rem 1rem;
            background-color: var(--jelly-color-primary);
            border: 1px solid var(--jelly-color-primary);
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0;
            color: var(--jelly-color-white);
            font-weight: 400;
            &:hover {
                background-color: var(--jelly-color-primary);
                color: var(--jelly-color-white);
            }
        }
        .jelly-product-toc {
            clear: both;
            border-bottom: 1px solid var(--jelly-color-border);
        }
        table.shop_attributes {
            border-top: 0;
            tr {
                &:nth-child(even) td,
                &:nth-child(even) th {
                    background: var(--jelly-color-item-bg);
                }
            }
            th {
                border: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: var(--jelly-color-border);
            }
            td {
                font-style: normal;
                border: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: var(--jelly-color-border);
            }
        }
        .jelly-product-toc {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding: 12px;
                margin: 0;
                a {
                    font-size: 16px;
                    color: var(--jelly-color-text);
                }
                &.active {
                    a {
                        color: var(--jelly-color-title);
                        font-weight: 600;
                    }
                    border-bottom: 2px solid var(--jelly-color-title);
                }
            }
        }
    }
    .woocommerce-Tabs-panel--description table {
        overflow-x: auto;
    }
}

.product-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 0;
        position: relative;
        color: var(--jelly-color-description);
        &:hover {
            color: var(--jelly-color-primary);
        }
    }
    a {
        font-size: 14px;
        display: block;
        padding: 8px 12px;
        color: inherit !important;
    }
    &:hover .children::-webkit-scrollbar-thumb {
        background-color: var(--jelly-color-primary);
    }
    // 子分类
    .children {
        display: none;
        padding-left: 24px;
        max-height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: #e5e5e5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #999;
        }
        > .current-cat > a {
            color: var(--jelly-color-primary);
            text-decoration: underline;
        }
        li::before {
            content: "\F309";
            font-family: "remixicon" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 16px;
            display: block;
            position: absolute;
            left: -16px;
            top: 5px;
            color: var(--jelly-color-description);
            opacity: 0.5;
        }
        .current-cat::before {
            color: var(--jelly-color-primary);
            opacity: 1;
        }
    }

    .current-cat,
    .current-cat-parent {
        .children {
            display: block;
        }
    }
    > li {
        border-bottom: 1px solid var(--jelly-color-border);
        &.cat-parent::before {
            content: "\EA78";
            font-family: "remixicon" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 16px;
            display: block;
            position: absolute;
            right: 3px;
            top: 5px;
            color: inherit;
            transform: rotate(180deg);
        }
    }
    // 一级分类选中或子分类被选中时的一级分类
    > .cat-item.current-cat,
    > .cat-item.current-cat-parent {
        color: var(--jelly-color-white);
        > a {
            color: var(--jelly-color-white);
            background: var(--jelly-color-primary);
        }
    }
}

.product-content{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

@media (min-width: 1240px) {
    .woocommerce div.product div.images {
        &.woocommerce-product-gallery {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .flex-viewport {
            width: 84%;
        }
        .flex-control-nav {
            position: absolute;
            left: 0;
            width: 13%;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .flex-control-thumbs li {
            width: 100%;
            float: none;
        }
    }
}
