.woocommerce .content-area {
  width: var(--jelly-max-width, 1240px);
  margin: 0 auto;
  padding: 0 var(--jelly-side-width, 16px);
  box-sizing: border-box;
  position: relative;
}
.woocommerce .page-description,
.woocommerce .woocommerce-result-count {
  color: #555555;
}
.woocommerce .jelly-woocommerce .jelly-container-main:not(.jelly-product-content) {
  flex-direction: row-reverse;
}
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-page .woocommerce-result-count {
  float: right;
}
.woocommerce ul.products li.product .jelly-product-thumbnail {
  overflow: hidden;
  border: 1px solid var(--jelly-color-border);
}
.woocommerce ul.products li.product .jelly-product-thumbnail img {
  transition: all 0.3s ease;
}
.woocommerce ul.products li.product .jelly-product-thumbnail img:hover {
  transform: scale(1.1);
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
.woocommerce ul.products li.product .woocommerce-placeholder {
  border: 0;
}
.woocommerce ul.products li.product a img {
  margin: 0 0 0;
}
.woocommerce div.product {
  margin-top: 32px;
}
.woocommerce div.product .product_meta {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
.woocommerce div.product .woocommerce-variation-add-to-cart {
  display: none;
}
.woocommerce div.product .related.products {
  clear: left;
}
.woocommerce div.product div.images .flex-viewport,
.woocommerce div.product div.images .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper {
  border: 1px solid var(--jelly-color-border);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}
.woocommerce div.product div.images .flex-control-thumbs {
  margin-right: -6px;
  margin-left: -6px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
  box-sizing: border-box;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 10px;
}
.woocommerce div.product div.images .flex-control-thumbs img {
  border: 1px solid var(--jelly-color-border);
  border-radius: 12px;
}
.woocommerce div.product a.button {
  padding: 0.5rem 1rem;
  background-color: var(--jelly-color-primary);
  border: 1px solid var(--jelly-color-primary);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  color: #ffffff;
  font-weight: 400;
}
.woocommerce div.product a.button:hover {
  background-color: var(--jelly-color-primary);
  color: #fff;
}
.woocommerce div.product .jelly-product-toc {
  clear: both;
  border-bottom: 1px solid var(--jelly-color-border);
}
.woocommerce div.product table.shop_attributes {
  border-top: 0;
}
.woocommerce div.product table.shop_attributes th {
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--jelly-color-border);
}
.woocommerce div.product table.shop_attributes td {
  font-style: normal;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--jelly-color-border);
}
.woocommerce div.product .jelly-product-toc {
  list-style: none;
  padding: 0;
}
.woocommerce div.product .jelly-product-toc li {
  display: inline-block;
  padding: 12px;
  margin: 0;
}
.woocommerce div.product .jelly-product-toc li a {
  font-size: 16px;
  color: #333;
}
.woocommerce div.product .jelly-product-toc li.active {
  border-bottom: 2px solid #141414;
}
.woocommerce div.product .jelly-product-toc li.active a {
  font-weight: 600;
}
.woocommerce .woocommerce-Tabs-panel--description table {
  overflow-x: auto;
}

@media (min-width: 1240px) {
  .woocommerce div.product div.images.woocommerce-product-gallery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .woocommerce div.product div.images .flex-viewport {
    width: 84%;
  }
  .woocommerce div.product div.images .flex-control-nav {
    position: absolute;
    left: 0;
    width: 13%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .woocommerce div.product div.images .flex-control-thumbs li {
    width: 100%;
    float: none;
  }
}/*# sourceMappingURL=woocommerce.css.map */