.woocommerce{
    .content-area{
        width: var(--jelly-max-width, 1240px);
        margin: 0 auto;
        padding: 0 var(--jelly-side-width, 16px);
        box-sizing: border-box;
        position: relative;
    }
    .page-description,
    .woocommerce-result-count{
        color: #555555;
    }
    .jelly-woocommerce{
        .jelly-container-main{
            flex-direction: row-reverse;
        }
    }
    .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{
        float: right;
    }
}
