.navigation.pagination {
    margin: 32px 0;
    text-align: center;
    .page-numbers,
    a.page-numbers {
        border-radius: 3px;
        border: 1px solid var(--jelly-color-border);
        min-width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        color: #555555;
        font-size: 1em;
        transition: none;
        padding: 0 12px;
        box-sizing: border-box;
        margin: 8px 4px;
        &:hover {
            text-decoration: none;
            background-color: #141414;
            border-color: #141414;
            color: #fff;
        }
    }
    .page-numbers.current {
        background: #141414;
        border-color: #141414;
        color: #fff;
    }
}

.wp-block-image .aligncenter .wp-element-caption {
    text-align: center;
    font-size: 16px;
    color: #555555;
}
