.site-footer {
    // margin-top: 36px;
    background-color: #0a0d14;
    color: #a3a3a3;
    padding: 32px var(--jelly-side-width, 16px) 0;
    .site-name {
        font-weight: 600;
        font-size: 2.5em;
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    .footer-logo {
        width: 100%;
        display: flex;
        // justify-content: space-between;
        // padding: 64px 0 24px 0;
        // border-bottom: 1px solid #2d323f;
        a {
            display: block;
        }
        img {
            height: 48px;
            width: 100%;
        }
    }
    .footer-logo-text{
        margin-top: 30px;
        color: #fff;
    }
    .footer-content {
        display: flex;
        // padding: 48px 0;
        justify-content: space-between;
        gap: 48px;

        .footer-item {
            width: 100%;
            margin: 24px 0;
        }
        .footer-item-title {
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            // color: #b8b8b8;
            .current-menu-item {
                a {
                    color: var(--jelly-color-primary);
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            a {
                color: inherit;
                &:hover {
                    color: var(--jelly-color-primary);
                }
            }
        }
    }
    .copyright {
        // background-color: #141414;
        // border-radius: 6px;
        .copyright-text{
            color: #fff;
            font-size: 14px;
            margin: 0;
            padding: 16px 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .site-footer {
        .footer-content {
            flex-direction: column;
            gap: 0;
            .footer-item {
                margin: 8px 0;
            }
        }
    }
}
