.site-header {
    position: relative;
    .container{
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-name {
        font-weight: 600;
        font-size: 24px;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 10px;
        &:hover {
            text-decoration: none;
        }
    }
    .header-logo {
        // width: 100%;
        a {
            display: block;
            width: 100%;
        }
        img {
            height: 60px;
            width: 100%;
            object-fit: contain;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

