.container {
    max-width: min(100%, var(--jelly-max-width, 1240px));
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &.flex {
        display: flex;
        margin: 32px auto;
        gap: 48px;
        clear: both;
    }
    &.full {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    &.reverse {
        flex-direction: row-reverse;
    }
    .content {
        flex-grow: 1; /* 自动扩展以填充可用空间 */
        // width: 100%;
        min-width: 0;
        box-sizing: border-box;
        // .entry-title,
        // .page-title {
        //     margin-top: 0;
        //     margin-bottom: 24px;
        // }
        h1{
            margin-top: 0;
        }
    }
    .sidebar {
        width: 240px;
        flex: 0 0 auto; /* 不扩展，宽度由内容或设定的宽度决定 */
        h2,
        h3,
        h4 {
            font-size: 20px !important;
            text-transform: capitalize;
            // padding: 8px 12px;
            box-sizing: border-box;
            &::after {
                content: "";
                display: block;
                height: 3px;
                width: 30%;
                margin-top: 12px;
                background-color: var(--jelly-color-primary);
            }
        }
    }
}

.loop-gird {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.content-table {
    overflow-x: auto;
    display: block;
    width: 100%;
    table {
        width: 100%;
        display: block;
        white-space: nowrap;
    }
}

.site-header {
    position: relative;
    padding: 8px var(--jelly-side-width, 16px);
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    .container {
        min-height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 1240px) {
    .container {
        width: 100%;
        &.flex{
            margin: 16px auto;
        }
    }
    .loop-gird {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .container.flex {
        gap: 16px;
        flex-direction: column !important;
        .content {
            width: 100%;
        }
        .sidebar {
            width: 100%;
            margin-top: 32px;
            padding-top: 32px;
            border-top: 1px solid var(--jelly-color-border);
        }
    }

    .loop-gird {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
