#main {
    padding: 0 var(--jelly-side-width, 16px);
    min-height: 480px;
}

/* 404 页面 */
.error-page {
    width: 400px;
    margin: 32px auto;
    min-height: 600px;
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .error-title {
        font-size: 10rem;
        margin: 0;
        line-height: 1;
    }
    .error-description {
        margin: 0;
    }
}

/* 文章页面 */
.post-page {
    .post-thumbnail {
        width: 100%;
        max-width: unset;
        height: auto;
        max-height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-size: 0px;
        line-height: 0;
        vertical-align: top;
    }
    .post {
        // h1 {
        //     margin-top: 0;
        // }
        p {
            a {
                text-decoration: underline;
            }
        }
        p,
        li {
            line-height: 1.9;
        }
        ul,
        ol {
            margin: 24px 0;
        }
    }
}

.contact-us-page {
    background-color: #f8f8f8;
    align-items: center;

    .contact-info,
    .contact-form {
        width: 100%;
    }
    .contact-form {
        box-sizing: border-box;
        padding: 24px;
        border-radius: 6px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            margin-top: 0;
            margin-bottom: 24px;
        }
        input,
        textarea {
            padding: 1rem;
            border-radius: 0;
        }
    }
    .contact-item-tile {
        display: block;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;
    }
    .contact-link {
        display: block;
        margin-bottom: 8px;
    }
    a.contact-link {
        text-decoration: underline;
    }
    .contact-list .contact-item {
        // display: block;
        margin-top: 12px;
        background-color: #fff;
        padding: 16px;
    }
    .ri-icon {
        font-size: 64px;
        padding: 12px;
        border-radius: 50%;
        background-color: #f8f8f8;
        margin-right: 16px;
        color: var(--jelly-color-primary);
        line-height: 1;
    }
}

.about-us-page {
}

.thanks-page {
    background-color: #f8f8f8;
    .container.primary {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .thanks-box {
        width: 50%;
        box-sizing: border-box;
        padding: 24px;
        border-radius: 6px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
    }
}

.product-page{
    .container.primary {
        padding-top: 32px;
    }
}

/* 移动端 */
@media screen and (max-width: 767px) {
    .error-page {
        width: 100%;
        .error-title {
            font-size: 8rem;
        }
    }
    .thanks-page {
        .thanks-box {
            width: 100%;
        }
    }
}

/* 更小的移动端 */
@media (max-width: 480px) {
    .error-page {
        .error-title {
            font-size: 6rem;
        }
    }
}
