.error-page {
    width: 400px;
    margin: 32px auto;
    min-height: 600px;
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    .error-title {
        font-size: 10rem;
    }
    .error-description {
        margin-bottom: 1rem;
    }
}

.archive-page {
    .container.primary {
        flex-direction: row-reverse;
    }
    .archive-description {
        margin-bottom: 16px;
    }
}

.post-page .post {
    p {
        // color: var(--jelly-color-text);
        a {
            text-decoration: underline;
        }
    }
    p,
    li {
        line-height: 1.9;
    }
    ul,
    ol {
        margin: 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .error-page {
        width: 100%;
        .error-title {
            font-size: 8rem;
        }
    }
}

@media (max-width: 480px) {
    .error-page {
        .error-title {
            font-size: 6rem;
        }
    }
}
