#gt_float_wrapper {
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;
    min-width: 96px;
    min-height: 34px;
}

.gtranslate_wrapper {
    position: relative !important;
    min-width: 96px;
    min-height: 34px;

    .gt_float_wrapper {
        position: relative !important;
    }

    .gt_float_switcher {
        // transition:none;
        box-shadow: none;
        position: relative !important;
        border: 1px solid var(--jelly-color-border);
        border-radius: var(--jelly-border-radius-lg);
        overflow: visible;
        background: transparent;
        padding: 4px 12px;
        min-width: 96px;
        min-height: 34px;
        box-sizing: border-box;
        color: var(--jelly-color-title);
        &:hover {
            border-color: var(--jelly-color-border-secondary);
        }
        .gt_options {
            position: absolute;
            top: 48px;
            background: var(--jelly-color-white);
            right: 0;
            min-width: 200px;
            box-shadow: var(--jelly-box-shadow);
            max-height: 362px;
            border: 1px solid var(--jelly-color-border);
        }

        .gt-selected .gt-current-lang {
            padding: 0;
            font-size: 14px;
        }

        &,
        .gt-selected {
            background: 0 0;
        }

        img {
            width: 18px;
            height: 13.5px;
            overflow: hidden;
        }

        .gt_options {
            &::-webkit-scrollbar-track {
                background-color: var(--jelly-color-item-bg);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--jelly-color-description);
            }
            a {
                transition: none;
                font-size: 14px;
                &:hover {
                    color: var(--jelly-color-title);
                    background-color: var(--jelly-color-item-bg);
                }
            }
        }
    }
}

html[dir="rtl"] .gtranslate_wrapper .gt_float_switcher .gt_options {
    right: unset;
    left: 0;
}

nav.rank-math-breadcrumb p {
    margin: 0;
}

#rank-math-faq {
    background-color: var(--jelly-color-item-bg);
    padding: 16px;
    border-radius: var(--jelly-border-radius-sm);
}

.rank-math-list-item {
    background-color: var(--jelly-color-white);
    padding: 16px;
    border-radius: var(--jelly-border-radius-sm);
    margin-bottom: 12px;
    box-shadow: var(--jelly-box-shadow);
    .rank-math-question {
        font-size: 1.44rem;
        padding-bottom: 12px;
        margin-top: 0;
        border-bottom: 1px solid var(--jelly-color-border);
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.sidebar .wp-block-rank-math-toc-block {
    position: sticky;
    top: 100px;
}
.wp-block-rank-math-toc-block {
    max-height: calc(100% - 200px);
    overflow-y: auto;
    margin: 24px 0;
    h2 {
        font-weight: 600;
        font-size: 16px !important;
        position: relative;
        margin-bottom: 18px;
        margin-top: 0;
    }
    nav {
        padding-left: 8px;
        max-height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--jelly-color-border);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--jelly-color-description);
        }
        > ul {
            padding-left: 18px;
            padding-right: 8px;
            border-left: 1px solid var(--jelly-color-border);
            > li {
                padding-left: 16px;
                &::before {
                    content: "";
                    display: block;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: var(--jelly-color-text);
                    position: absolute;
                    left: -5px;
                    top: 12px;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li {
            margin: 0;
            padding-left: 0;
            position: relative;
            margin: 6px 0;
        }
        a {
            color: var(--jelly-color-text);
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    #rank-math-faq {
        padding: 0;
        background-color: none;
        border-radius: none;
    }
    .wp-block-rank-math-toc-block {
        position: relative;
        top: unset;
        nav {
            max-height: 300px;
        }
        h2 {
            // text-align: center;
            padding: 8px;
            background: var(--jelly-color-item-bg);
        }
    }
}
