@charset "UTF-8";
/*
* 搜索框
*/
.wp-theme-jelly-frame .jelly-search-form {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.wp-theme-jelly-frame .jelly-search-form button {
  line-height: 1;
  background-color: transparent;
  border: 0;
  color: var(--jelly-color-description);
  padding: 10px 14px 8px 14px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.wp-theme-jelly-frame .jelly-search-form button:hover {
  border-color: transparent;
  background-color: transparent;
  color: var(--jelly-color-title);
}
.wp-theme-jelly-frame .jelly-search-form input {
  width: 100%;
  font-size: 14px;
  border-radius: var(--jelly-border-radius-sm);
  background-color: #fff;
  border-color: var(--jelly-color-border);
  height: 40px;
  padding: 8px 16px;
}

/*
* 回到顶部按钮
*/
.totop-button {
  position: fixed;
  right: 48px;
  bottom: 32px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px var(--jelly-color-border);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}
.totop-button.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.totop-button .arrow-up {
  position: absolute;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: var(--jelly-color-text);
  left: 11px;
  top: 11px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}
.totop-button .progress-circle path {
  fill: #fff;
  stroke: var(--jelly-color-primary);
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}

/*
* 文章页 顶部 特色图片
*/
.post-thumbnail {
  width: 100%;
  max-width: unset;
  height: auto;
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  font-size: 0px;
  line-height: 0;
  vertical-align: top;
}

/*
* 作者框
*/
.author-box {
  background-color: var(--jelly-color-item-bg);
  padding: 20px;
  border-radius: var(--jelly-border-radius-lg);
  margin: 32px 0;
  gap: 24px;
  display: flex;
  align-items: center;
}
.author-box .author-avatar {
  flex: 0 0 auto;
}
.author-box .avatar-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #ffffff;
  border: 1px solid var(--jelly-color-border);
}
.author-box .author-name {
  font-size: 24px;
  color: var(--jelly-color-title);
}
.author-box .author-description {
  font-size: 14px;
  color: var(--jelly-color-text);
  line-height: 1.5;
}

/*
* 翻页按钮
*/
.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.post-navigation p {
  margin: 0;
  color: inherit;
}
.post-navigation .navigation-arrow {
  line-height: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.post-navigation svg {
  padding-right: 8px;
}
.post-navigation a {
  color: var(--jelly-color-text);
}
.post-navigation a:hover {
  color: var(--jelly-color-primary);
}
.post-navigation .nav-next {
  text-align: right;
}
.post-navigation .nav-next svg {
  padding-right: 0;
  padding-left: 8px;
}
.post-navigation .nav-next .navigation-arrow {
  justify-content: flex-end;
}

/*
* 元信息
*/
.post-category-list {
  color: var(--jelly-color-description);
}
.post-category-list a {
  font-size: 16px;
  color: var(--jelly-color-primary);
}

.post-meta {
  margin: 20px 0;
  padding-bottom: 16px;
  color: var(--jelly-color-description);
  font-size: 16px;
  border-bottom: 1px solid var(--jelly-color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-meta .meta-left .release-date {
  margin-right: 8px;
}
.post-meta .ri-icon {
  font-size: 18px;
}
.post-meta .share-buttons {
  margin: 0;
}

/*
* 分享按钮
*/
.share-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 16px 0;
}
.share-buttons .share-title {
  font-size: 14px;
  color: var(--jelly-color-description);
}
.share-buttons .share-toggle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid var(--jelly-color-border);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.share-buttons .share-toggle:hover {
  border-color: var(--jelly-color-primary);
  background-color: var(--jelly-color-primary);
  color: var(--jelly-color-white);
}
.share-buttons .share-toggle svg {
  padding-top: 5px;
}

/*
* 相关文章
*/
.related-posts {
  width: 100%;
  background-color: var(--jelly-color-item-bg);
  text-align: center;
  margin: 32px 0 0 0;
  padding: 32px 0;
}
.related-posts .related-posts-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 24px;
}
.related-posts .related-posts-list li {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
.related-posts .related-posts-list li h3 {
  margin: 10px 0 0;
  font-size: 16px;
}
.related-posts .jelly-related-post-thumbnail {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  display: block;
  background-color: var(--jelly-color-white);
  border-radius: 6px;
}
.related-posts .jelly-related-post-thumbnail.placeholder {
  background-color: var(--jelly-color-description);
}

/*
* 文章卡片
*/
.jelly-post-card {
  width: 100%;
  box-sizing: border-box;
}
.jelly-post-card .jelly-card-content {
  padding: 20px 0;
}
.jelly-post-card .jelly-card-content p {
  font-size: 1em;
  color: var(--jelly-color-description);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jelly-post-card .jelly-card-thumbnail {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 6px;
}
.jelly-post-card .jelly-card-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.jelly-post-card .jelly-card-thumbnail img:hover {
  transform: scale(1.1);
}
.jelly-post-card .jelly-card-title {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 10px;
}
.jelly-post-card .jelly-card-title a {
  color: var(--jelly-color-title);
}
.jelly-post-card .jelly-card-title a:hover {
  color: var(--jelly-color-primary);
}
.jelly-post-card .jelly-card-meta {
  font-size: 0.9em;
  color: var(--jelly-color-description);
  margin: 0;
}
.jelly-post-card .jelly-card-meta span {
  display: inline-block;
  margin-right: 10px;
}

/*
* 面包屑
*/
nav.breadcrumb {
  border-top: 1px solid var(--jelly-color-border);
  border-bottom: 1px solid var(--jelly-color-border);
}
nav.breadcrumb p {
  display: block;
  width: var(--jelly-max-width, 1240px);
  margin: 0 auto;
  padding: 12px var(--jelly-side-width, 16px);
  font-size: 14px;
  line-height: 1.4;
  color: var(--jelly-color-text);
  box-sizing: border-box;
}
nav.breadcrumb a {
  color: var(--jelly-color-title);
  text-decoration: underline;
}
nav.breadcrumb a:hover {
  color: var(--jelly-color-title);
}
nav.breadcrumb .separator {
  margin: 0 4px;
}
nav.breadcrumb .last {
  color: var(--jelly-color-description);
}

.categories-widget .categories-title {
  margin-bottom: 18px;
}
.categories-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories-widget li {
  margin: 0;
  padding: 0;
}

.post-categories:hover .categories-list::-webkit-scrollbar-thumb {
  background-color: var(--jelly-color-primary);
}
.post-categories .categories-list {
  font-size: 14px;
  max-height: 400px;
  overflow-y: auto;
}
.post-categories .categories-list::-webkit-scrollbar {
  width: 3px;
}
.post-categories .categories-list::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}
.post-categories .categories-list::-webkit-scrollbar-thumb {
  background-color: #999;
}
.post-categories .categories-list li {
  margin: 0;
  border-bottom: 1px solid var(--jelly-color-border);
}
.post-categories .categories-list li.active {
  background: var(--jelly-color-primary);
}
.post-categories .categories-list li.active a {
  color: var(--jelly-color-white);
  font-weight: 600;
}
.post-categories .categories-list a {
  display: block;
  padding: 8px 12px;
  color: var(--jelly-color-description);
}
.post-categories .categories-list a:hover {
  color: var(--jelly-color-primary);
}

/*
* 全局表单
*/
.jelly-global-form {
  margin: 24px 0;
}
.jelly-global-form .form-title {
  font-size: 16px;
  margin-bottom: 18px;
}

.contact-list {
  font-style: normal;
}
.contact-list .contact-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.contact-list .contact-icon {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--jelly-border-radius-lg);
  color: inherit;
  line-height: 1;
  margin-right: 12px;
}
.contact-list .ri-icon {
  font-size: 24px;
}
.contact-list .contact-link {
  color: inherit;
}
.contact-list .contact-link:hover {
  color: var(--jelly-color-primary);
}
.contact-list .contact-text {
  margin: 0;
}

.primary-menu {
  z-index: 99;
}
.primary-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.primary-menu .menu-list {
  display: flex;
}
.primary-menu li {
  margin: 0;
}
.primary-menu li.current_page_item a {
  color: var(--jelly-color-primary);
}
.primary-menu a {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--jelly-color-title);
}
.primary-menu a:hover {
  color: var(--jelly-color-primary);
}
.primary-menu .menu-toggle {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: var(--jelly-color-title);
  line-height: 1;
  min-height: unset;
  display: none;
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
}
.social-media .social-item {
  display: block;
  padding: 8px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--jelly-border-radius-lg);
  color: inherit;
  line-height: 1;
  margin-left: 12px;
}
.social-media .social-item:hover {
  background-color: var(--jelly-color-primary);
}

@media (max-width: 1240px) {
  .jelly-content-table {
    overflow-x: auto;
    display: block;
    width: 100%;
  }
  .jelly-content-table table {
    width: 100%;
    display: block;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1240px) {
  nav.breadcrumb p {
    width: 100%;
  }
  .primary-menu .menu-list {
    display: none;
  }
  .primary-menu .menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .totop-button {
    right: 48px;
    bottom: 48px;
  }
  .totop-button.active-progress {
    transform: scale(1.1) translateY(0);
  }
  .jelly-related-posts .jelly-related-posts-list {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=widget.css.map */