// TODO 更加合理的样式框架
/*
* 搜索框
*/
.wp-theme-jelly-frame .jelly-search-form {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    button {
        line-height: 1;
        background-color: transparent;
        border: 0;
        color: var(--jelly-color-description);
        padding: 10px 14px 8px 14px;
        height: 40px;
        &:hover {
            border-color: transparent;
            background-color: transparent;
            color: var(--jelly-color-title);
        }
        position: absolute;
        right: 0;
        top: 0;
    }
    input {
        width: 100%;
        font-size: 14px;
        border-radius: var(--jelly-border-radius-sm);
        background-color: #fff;
        border-color: var(--jelly-color-border);
        height: 40px;
        padding: 8px 16px;
    }
}

/*
* 文章页 顶部 特色图片
*/
.post-thumbnail {
    width: 100%;
    max-width: unset;
    height: auto;
    max-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-size: 0px;
    line-height: 0;
    vertical-align: top;
}

/*
* 作者框
*/
.author-box {
    background-color: var(--jelly-color-item-bg);
    padding: 20px;
    border-radius: var(--jelly-border-radius-lg);
    margin: 32px 0;
    gap: 24px;
    display: flex;
    align-items: center;
    .author-avatar {
        flex: 0 0 auto;
    }
    .avatar-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: contain;
        background-color: #ffffff;
        border: 1px solid var(--jelly-color-border);
    }
    .author-name {
        font-size: 24px;
        color: var(--jelly-color-title);
    }
    .author-description {
        font-size: 14px;
        color: var(--jelly-color-text);
        line-height: 1.5;
    }
}

/*
* 翻页按钮
*/
.post-navigation {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    // padding: 24px 0;
    // border-top: 1px solid var(--jelly-color-border);
    // border-bottom: 1px solid var(--jelly-color-border);
    p {
        margin: 0;
        color: inherit;
    }
    .navigation-arrow {
        line-height: 1;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    svg {
        padding-right: 8px;
    }
    a {
        color: var(--jelly-color-text);
        &:hover {
            color: var(--jelly-color-primary);
        }
    }
    .nav-next {
        text-align: right;
        svg {
            padding-right: 0;
            padding-left: 8px;
        }
        .navigation-arrow {
            justify-content: flex-end;
        }
    }
}

/*
* 元信息
*/
.post-category-list {
    color: var(--jelly-color-description);
    a {
        font-size: 16px;
        color: var(--jelly-color-primary);
    }
}

.post-meta {
    margin: 20px 0;
    padding-bottom: 16px;
    color: var(--jelly-color-description);
    font-size: 16px;
    border-bottom: 1px solid var(--jelly-color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .meta-left {
        .release-date {
            margin-right: 8px;
        }
    }
    .ri-icon {
        font-size: 18px;
    }
    .share-buttons {
        margin: 0;
    }
}

/*
* 相关文章
*/
.related-posts {
    width: 100%;
    background-color: var(--jelly-color-item-bg);
    text-align: center;
    margin: 32px 0 0 0;
    padding: 32px 0;
    .related-posts-list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 24px;
        li {
            flex: 1;
            width: 100%;
            box-sizing: border-box;
            h3 {
                margin: 10px 0 0;
                font-size: 16px;
            }
        }
    }
    .jelly-related-post-thumbnail {
        width: 100%;
        height: 150px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        display: block;
        background-color: var(--jelly-color-white);
        border-radius: 6px;
        &.placeholder {
            background-color: var(--jelly-color-description);
        }
    }
}

.categories-widget {
    // margin: 24px 0;
    .categories-title {
        margin-bottom: 18px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin: 0;
        padding: 0;
    }
}

.post-categories {
    &:hover .categories-list::-webkit-scrollbar-thumb {
        background-color: var(--jelly-color-primary);
    }
    .categories-list {
        font-size: 14px;
        max-height: 400px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: #e5e5e5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #999;
        }

        li {
            margin: 0;
            border-bottom: 1px solid var(--jelly-color-border);
            &.active {
                background: var(--jelly-color-primary);
                a {
                    color: var(--jelly-color-white);
                    font-weight: 600;
                }
            }
        }
        a {
            display: block;
            padding: 8px 12px;
            color: var(--jelly-color-description);
            &:hover {
                color: var(--jelly-color-primary);
            }
        }
    }
}

.primary-menu {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    li {
        margin: 0;
        position: relative;

        &:hover > .sub-menu {
            display: block;
        }

        &.current_page_item > a {
            color: var(--jelly-color-primary);
        }

        &.menu-item-has-children > a {
            &::after {
                content: "\EA78";
                font-size: 16px;
                font-family: "remixicon" !important;
                font-style: normal;
                display: inline-block;
                margin-left: 8px;
                transform: rotate(90deg);
                transition: all 0.3s ease-in-out;
            }

            &:hover::after {
                transform: rotate(180deg);
            }
        }
    }

    a {
        display: block;
        padding: 8px 16px;
        font-weight: 600;
        color: var(--jelly-color-title);
        background-color: #fff;
        box-sizing: border-box;

        &:hover {
            color: var(--jelly-color-primary);
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        white-space: nowrap;
        box-shadow:
            0 1px 2px -2px rgba(0, 0, 0, 0.16),
            0 3px 6px 0 rgba(0, 0, 0, 0.12),
            0 5px 12px 4px rgba(0, 0, 0, 0.09);

        a {
            font-weight: 400;
        }

        .sub-menu {
            top: 0;
            left: 100%;

            &.open-left {
                left: auto;
                right: 100%;
            }
        }
    }

    .menu-close {
        display: none; // 桌面不显示
    }


}
.menu-toggle{
    display: none;
}

/*
* 分享按钮
*/
.share-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 16px 0;
    color: var(--jelly-color-description);
    .share-title {
        font-size: 14px;
    }
    .share-toggle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid var(--jelly-color-border);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            border-color: var(--jelly-color-primary);
            background-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
    }
    .ri-icon {
        color: inherit;
        // padding-top: 2px;
        font-size: 18px;
    }
}

/*
* 回到顶部按钮
*/
.totop-button {
    position: fixed;
    right: 48px;
    bottom: 32px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px var(--jelly-color-border);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .arrow-up {
        position: absolute;
        text-align: center;
        line-height: 46px;
        font-size: 20px;
        color: var(--jelly-color-text);
        left: 11px;
        top: 11px;
        height: 24px;
        width: 24px;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 200ms linear;
    }

    .progress-circle path {
        fill: #fff;
        stroke: var(--jelly-color-primary);
        stroke-width: 4;
        box-sizing: border-box;
        transition: all 200ms linear;
    }
}

/*
* 联系列表
*/
.contact-list {
    font-style: normal;
    .contact-item {
        display: flex;
        align-items: center;
        margin: 12px 0;
    }
    .contact-icon {
        padding: 12px;
        background-color: rgba(128, 128, 128, 0.1);
        border-radius: var(--jelly-border-radius-lg);
        color: var(--jelly-color-primary);
        line-height: 1;
        margin-right: 12px;
    }
    .ri-icon {
        font-size: 24px;
    }
    .contact-link {
        color: inherit;
        &:hover {
            color: var(--jelly-color-primary);
        }
    }
    .contact-text {
        margin: 0;
    }
}

/*
* 循环卡片
*/
.loop-card {
    width: 100%;
    box-sizing: border-box;
    .card-content {
        padding: 20px 0;
        p {
            font-size: 16px;
            color: var(--jelly-color-description);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-thumbnail {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // 16:9 比例 (9 / 16 * 100%)
        overflow: hidden;
        border-radius: 6px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; // 确保图片覆盖整个容器

            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .card-title {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 10px;
        a {
            color: var(--jelly-color-title);
            &:hover {
                color: var(--jelly-color-primary);
            }
        }
    }
    .card-meta {
        font-size: 0.9em;
        color: var(--jelly-color-description);
        margin: 0;
        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

/*
* 面包屑
*/
nav.breadcrumb {
    border-top: 1px solid var(--jelly-color-border);
    border-bottom: 1px solid var(--jelly-color-border);
    p {
        display: block;
        width: var(--jelly-max-width, 1240px);
        margin: 0 auto;
        padding: 12px var(--jelly-side-width, 16px);
        font-size: 14px;
        line-height: 1.4;
        color: var(--jelly-color-text);
        box-sizing: border-box;
    }
    a {
        color: var(--jelly-color-title);
        text-decoration: underline;
        &:hover {
            color: var(--jelly-color-title);
        }
    }
    .separator {
        margin: 0 4px;
    }
    .last {
        color: var(--jelly-color-description);
    }
}

/*
* 页面Banner
*/
.page-banner {
    padding: 32px var(--jelly-side-width, 16px);
    box-sizing: border-box;
    background-color: #313131;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    h1 {
        margin: 0;
        color: #fff;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    nav.breadcrumb {
        border: 0;
        p {
            width: auto;
            margin: 0;
            padding: 0;
            color: #fff;
        }
        a {
            color: #fff;
        }
        .last {
            color: #fff;
        }
    }
}

/*
* 全局表单
*/
.inquiry-form {
    margin: 24px 0;
    .form-title {
        font-size: 16px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 767px) {
    .inquiry-form {
        position: sticky;
        top: 140px;
    }
}
@media screen and (min-width: 1240px) {
    .page-banner {
        min-height: 300px;
        h1 {
            font-size: 72px;
        }
    }
}
@media screen and (max-width: 1240px) {
    nav.breadcrumb p {
        width: 100%;
    }

    .menu-toggle {
        display: block;
        box-sizing: border-box;
        padding: 6px;
        border: none;
        background: transparent;
        color: var(--jelly-color-title);
        line-height: 1;
        text-align: center;
        &:hover{
            background: none;
            border: 0;
            color: var(--jelly-color-title);
        }
        .ri-menu-line{
            font-size: 20px;
        }
    }

    .primary-menu {
        position: fixed;
        top: 0;
        right: -360px;
        width: 300px;
        height: 100%;
        padding: 1rem;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        transition: right 0.3s ease-in-out;
        z-index: 1001;
        display: block;

        &.active {
            right: 0;
        }

        ul {
            display: block;

            > li {
                border-bottom: 1px solid var(--jelly-color-border);
            }
        }

        .sub-menu {
            display: block;
            position: relative !important;
            top: unset !important;
            left: unset !important;
            width: 100%;
            box-shadow: none;
            overflow: hidden;
            height: auto;
            max-height: 0;
            transition: max-height 1s ease-in-out;
            padding-left: 12px;
            overflow: hidden;
            > li {
                border-bottom: 0;
            }
        }

        .submenu-open > .sub-menu {
            max-height: 999px;
        }

        .menu-actions {
            position: absolute;
            top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            left: 0;
            padding: 16px;
            box-sizing: border-box;
        }

        .menu-close {
            display: block;
            background: transparent;
            border: none;
            font-size: 20px;
            color: var(--jelly-color-title);
            cursor: pointer;
        }

        .menu-container{
            margin: 64px 0;
        }
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;

        &.active {
            display: block;
        }
    }

    .page-banner {
        min-height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .totop-button {
        right: 48px;
        bottom: 48px;
        &.active-progress {
            transform: scale(1.1) translateY(0);
        }
    }

    .page-banner {
        min-height: 150px;
    }

    .jelly-related-posts {
        .jelly-related-posts-list {
            flex-direction: column;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
