


.alignleft{
    float: left;
    margin-right: 1rem;
}
.aligncenter{
    clear: both;
    display: block;
    margin-inline: auto;
}

.alignright{
    float: right;
    margin-left: 1rem;
}

.wp-caption-text{
    margin:0;
}

.wp-caption{
    margin-block-end: 1.25rem;
    max-width: 100%;
    img{
        display: block;
    margin-inline: auto;
    }
    .alignleft{
        margin: 5px 20px 20px 0;
    }
}

.navigation.pagination {
    margin: 32px 0;
    text-align: center;
    position: relative;
    .page-numbers,
    a.page-numbers {
        border-radius: var(--jelly-border-radius-xs);
        border: 1px solid var(--jelly-color-border);
        min-width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        color: var(--jelly-color-description);
        font-size: 1em;
        transition: none;
        padding: 0 12px;
        box-sizing: border-box;
        margin: 8px 4px;

        &:hover {
            text-decoration: none;
            background-color: var(--jelly-color-primary);
            border-color: var(--jelly-color-primary);
            color: var(--jelly-color-white);
        }
        &.prev {
            position: absolute;
            // margin: 0;
            left: 0;
            border: 0;
        }
        &.next {
            position: absolute;
            // margin: 0;
            right: 0;
            border: 0;
        }
    }
    .page-numbers.current {
        background: var(--jelly-color-primary);
        border-color: var(--jelly-color-primary);
        color: var(--jelly-color-white);
    }
}

.wp-block-image .aligncenter .wp-element-caption {
    text-align: center;
    font-size: 16px;
    color: var(--jelly-color-description);
}
